<div class="container-landing">
  <div class="bg">


  <div class="header">
    <img width="160px" src="assets/img/logo-fittech.png" class="logo">

  </div>
  <div class="text-movil">
    <h1><i>BIENVENIDO A FITTECH APP</i></h1>
    <p>Entrenamiento y nutrición adaptado a ti, donde lo quieras llevar.</p>
    <button ><i>PRONTO PODRAS DESCARGAR LA APP</i></button>
  </div>
  <div class="follow-social">
    <ion-icon name="logo-youtube"></ion-icon>
    <ion-icon name="logo-instagram"></ion-icon>
    <ion-icon (click)="login()" name="logo-twitter"></ion-icon>
    <ion-icon name="logo-facebook"></ion-icon>
    <p>Siguenos en</p>
  </div>
</div>
<div class="sidebar">
  <h1><i>BIENVENIDO A FITTECH APP</i></h1>
  <p>Entrenamiento y nutrición adaptado a ti, donde lo quieras llevar.</p>
  <button ><i>PRONTO PODRAS DESCARGAR LA APP</i></button>
</div>
</div>