.container-landing{
    position: relative;
    // background-image: url('assets/img/PORTADA-HOME.webp');
   
    display: flex;
}
.container{
    height: 100%;
    overflow-y: scroll;
}

.bg{
   
    width: 76%;
    background-size: cover;
}
.header{
    z-index: 1;

    position: absolute;
    img{
        margin-top: 30px;
    }
    padding-left: 10px;
    margin-left:40px;
    display: flex;
    justify-content: space-between;

}
.sidebar{
    h1{
        font-weight: bolder;
        font-size: 32px;
    }
    color:white;
    width: 24%;
    background: #ed1f24;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
text-align: center;
}
button{
        border-radius: 20px;
        background: transparent;
        border:2px solid white;
        padding:14px 20px;
        
        color:white;
        
    
}
.follow-social{
    position: absolute;
    z-index: 1;
    width: 200px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    height: 84%;
    ion-icon{
        cursor: pointer;
        font-size: 22px;
        margin-top:16px;
        color:white;
        transform: rotate(
            -90deg
            );
    }
    p{
        margin-top: 30px;
        color:white;
        transform: rotate(
            -90deg
            );
    }
}
// 

.container-all{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.nosotros{
 display: flex; 
 .text{
    width: 50%;
 }
}
.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination{
    position: absolute;
    bottom: 80px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}


input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);

}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
  
    
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{

    background: #fff;
}


input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}
input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
    background: #fff;
}



@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
        
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}
@media screen and (max-width:2000px){
    .bg{
        // background-image: url('/assets/img/PORTADA-HOME.webp'); 
        width: 76%;
    }
    .sidebar,.follow-social{
        display: flex !important;
    }
    .header{
        justify-content: space-between;
    }
    .text-movil{
        display: none;
    }
    button{
        background: #ed1f24  !important;
    }
    
}
@media screen and (max-width:850px){
    .bg{
        // background-image: url('/assets/img/fondo-testimonis_movil.webp'); 
        width: 100%;
    }
    .header{
        justify-content: center;
    }
    .sidebar,.follow-social{
        display: none !important;
    }
    .text-movil{
    h1{
        font-weight: bolder;
    }
    text-align: center;
    color: white;
    /* bottom: 0px; */
    margin-top: 200px;

        display: block;
    }
    button{
        background: transparent  !important;
    }
}
