.container-landing{
    position: relative;
    // background-image: url('assets/img/PORTADA-HOME.webp');
   
    display: flex;
}
.testimonios{
    background-image: url('/assets/img/fondo-testimonios.webp');
    background-size: cover;
    height: 800px;
}
.container{
    height: 100%;

}

.bg{
   
    width: 76%;
    background-size: cover;
}
.header{
    z-index: 1;

    position: absolute;
    img{
        margin-top: 30px;
    }
    padding-left: 10px;
    margin-left:40px;
    display: flex;
    justify-content: space-between;

}
.sidebar{
    h1{
        font-weight: bolder;
        font-size: 32px;
    }
    p{
        font-weight: 100;
    }
    color:white;
    width: 24%;
    background: #ed1f24;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
text-align: center;
}
button{
        border-radius: 20px;
        background: transparent;
        border:2px solid white;
        padding:14px 20px;
        
        color:white;
        
    
}
.follow-social{
    position: absolute;
    z-index: 1;
    width: 200px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    height: 84%;
    ion-icon{
        cursor: pointer;
        font-size: 22px;
        margin-top:16px;
        color:white;
        transform: rotate(
            -90deg
            );
    }
    p{
        margin-top: 30px;
        color:white;
        transform: rotate(
            -90deg
            );
    }
}
// 

.container-all{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.porque-title
{   
    text-align: center;
    h1{
        font-weight: bold;
        font-size: 50px;
        color: white;
    }
}
h1{
    font-weight: bold;
    font-size: 50px;
    color: white;
}
.porque-fittech{
    background: #ED1F24;
    margin-top: -21px;
    padding: 20px;
    .card-fittech{
        color:white;
        .text-card{
            padding: 26px;
            p{
                font-family: 'OpenSans-Light';
                text-align: justify;
            }
        }
        text-align: center;
        width: 520px;
        background: black;
        margin: 14px;
        border-radius: 12px;
        overflow: hidden;
    }
    .container-cards{
        display: flex;
        justify-content: center;
    }
}
.text-testimonios{
    width: max-content;
    padding: 100px 0px 0px 100px;
    h3{
        letter-spacing: 2.5px;
        color:white;
        font-family: 'OpenSans-Light';
    }
}
.btn{
    background: #EF4044;
    color:white;
    width: 80%;
}

.planes{
    margin-top: -21px;
    background-color: black;
    .img-planes{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .card-planes{
            background: white;
            color:black;
            h1{
                color:black !important;
            }
            width: 260px;
            height: 280px;
            border-radius: 12px;
        }
        .card-planes:hover{
            background: transparent linear-gradient(212deg, #EF4044 0%, #BD0005 100%) 0% 0% no-repeat padding-box;
            color:white;
            .btn{
                background: black;
                color:white;
            }
        }
        height: 800px;
        background-size: cover;
        background-image: url('/assets/img/icono-fittech.svg');
    }
    .text{
        h3{
            padding-top: 40px;
            font-family: 'OpenSans-Light';
            color:white;
        }
    }
}
.icons{
    ion-icon{
        font-size: 24px;
        color:white;
        margin:16px;
        cursor:pointer;
    }
}
.empieza-ya{
    background-image: url('/assets/img/personalizacion-unica.webp');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        text-align: center;
        width: 500px;
        color:white;
        font-family: 'OpenSans-Light';
    }
    button{
        border:0;
    }

}
.container-empieza-ya{
    height: 700px;
}
.line-red{
    border-top: 1px solid red;
    width: 180px;
}
.text-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nosotros{
    margin-top: -21px;
 display: flex; 
 .text{
    width: 45%;
    text-align: justify;
    background: black;
    color: white;
    h1{
        padding: 6px;
        
        font-weight: bold;
        font-size: 50px;
    }
    h3{
        letter-spacing: 2.5px;
    }
    p,h3{
        font-family: 'OpenSans-Light';
    }
    padding: 30px;
 }

 .model{
     width: 55%;
     img{
        width: 100%;
        height: 100%;
     }
 }
}
.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    cursor:pointer;
    max-width: 100%;
}

.pagination{
    position: absolute;
    bottom: 80px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}

.testimonios-text{
    text-align: left;
}
input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);

}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
  
    
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{

    background: #fff;
}


input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}
input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
    background: #fff;
}



@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
        
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}
@media screen and (max-width:2000px){
    .container{
        overflow-y: scroll;
    }
    .bg{
        // background-image: url('/assets/img/PORTADA-HOME.webp'); 
        width: 76%;
    }
    .sidebar,.follow-social{
        display: flex !important;
    }
    .header{
        justify-content: space-between;
    }
    .text-movil{
        display: none;
    }
    button{
        background: #ed1f24  !important;
    }
    
}
@media screen and (max-width:850px){
    .container-empieza-ya{
        width:100%;
        height: max-content;
    }
    .header{
        width: 100%;
        padding-left: 0px;
        margin-left:0px;
        justify-content: center !important;
        img{
            margin-top: 6px;
            width: 100px;
        }
    }
    .container{
        overflow: none !important;
        overflow-x: scroll !important;
    }
    .card-fittech{
        width: 300px !important;
    }
    .img-planes{
        height: max-content !important;
        flex-direction: column;
        .card-planes{
            margin-top:10px;
            margin-bottom: 10px;
        }
    }
    .container-cards{
        flex-direction: column;
        align-items: center;
    }
    .nosotros{
        flex-direction: column;
        .text{
            text-align: center;
            width: 100%;
         }
        
         .model{
             width: 100%;
         }
    }
    .bg{
        // background-image: url('/assets/img/fondo-testimonis_movil.webp'); 
        width: 100%;
    }
    .sidebar,.follow-social{
        display: none !important;
    }
    .text-movil{
    h1{
        font-weight: bolder;
    }
    text-align: center;
    color: white;
    /* bottom: 0px; */
    margin-top: 200px;

        // display: block;
    }
    button{
        background: transparent  !important;
    }
}
