:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

  .logo{
    margin: 0 auto;
    max-height: 150px;
  }
  
  .cabezera{
    max-height: 150px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: black;
      width: 100%;
      overflow: hidden;
  }










  .ion-slides {
    height: 36rem;
  }


  
 .my-grid {
    height: 100% !important;
    h2{
        font-size: 30px;
        font-weight: bold;
        opacity: 0.7;
    }
 }
.parent-row {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
 }







.animacion{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

@-webkit-keyframes fadeInRight{
    0%{
        opacity:0;
        -webkit-transform:translateX(200px);
        transform:translateX(200px)
    }
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
@keyframes fadeInRight{
    0%{
        opacity:0;
        -webkit-transform:translateX(200px);
        -ms-transform:translateX(200px);
        transform:translateX(200px)
    }
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
        transform:translateX(0)
    }
}
.fadeInRight{
    -webkit-animation-name:fadeInRight;
    animation-name:fadeInRight
}