<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon  style="font-size: 1.5rem;" name="close-outline" (click)="salir()" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="image" alt="" style="width:100%;" 
  onerror="this.src='https://images-na.ssl-images-amazon.com/images/I/51e6kpkyuIL._AC_SY355_.jpg'">
</ion-content>
<ion-footer class="ion-no-border">
  <!-- <h1 style="margin: 0; text-align: center; margin-bottom: 5px;">{{nombre}}</h1> -->
</ion-footer>