<ion-header [translucent]="true" class="ion-no-border">
  <div class="cabezera">
    <img src="assets/img/logo-app.png" class="logo">
  </div>
</ion-header>

<ion-content [fullscreen]="true" slot="fixed" >

  <div class="contenedor animated fadeInLeft delay-1s">
      <h2 class="titulo">¿Cúal es tu experiencia?</h2>
      <ion-grid class="my-grid">
      <ion-row class="parent-row">
        <ion-col size="12">      
        <ion-card class="color-tarjeta" (click)="testear()">
          <h2>Sin experiencia</h2>
        </ion-card>
        </ion-col>
        <ion-col  size="12">      
          <ion-card class="color-tarjeta" (click)="experiencia(1)">
            <h2>Más de 6 meses</h2>  
          </ion-card>
        </ion-col>
        <ion-col  size="12">      
          <ion-card class="color-tarjeta" (click)="experiencia(2)">
            <h2>Más de 2 años</h2>  
          </ion-card>
        </ion-col>
      </ion-row>
      </ion-grid> 
  </div>

  <ion-fab vertical="bottom"  horizontal="center" slot="fixed" class="animated fadeInUp delay-2s" >
    <ion-fab-button color="danger" (click)="atras()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>



