<ion-header>
  <ion-toolbar color="dark">
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/bateria-alimento"></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="end" (click)="saltar()">
      Saltar
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios">Alimentación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="box-img-container">
    <span class="identificador"> 3 / 4 </span>
    <img src="assets/img/alimentacion2@2x.png">
  </div>

  <div class="box-text-container">
    <p class="parrafo">
      Haz clic en <b>añadir</b> cada comida...
    </p>
  </div>

  <img src="assets/img/alimentos3@2x.png" alt="">


  <div class="box-text-container">
    <p class="parrafo">
      vas a ver un menú con los diferentes <b>macronutrientes</b> dónde al hacer clic 
      te aparecerá la lista de opciones:
    </p>
  </div>



    <video width="100%"  class="videoReproductor" controls poster="assets/img/gif-logo2-video.gif">
      <source [src]= "video1" type="video/mp4" />
    </video>


 
  <div class="box-text-container">
    <p class="parrafo">
      tranquilo que no tendrás que hacerlo siempre, cada vez será más <b>práctico y automatizado</b>.
    </p>
  </div>
  <br>
  <br>

  <!-- obiar -->

</ion-content>


