<ion-toolbar color="dark">

  <ion-buttons slot="primary">
    <ion-button>
      <div class="cabezera">
        <img src="assets/img/logo-app.png" class="logo">
      </div>
    </ion-button>
  </ion-buttons>

  <ion-title>Perfil</ion-title>
</ion-toolbar>

<ion-content>

    <ion-segment (ionChange)="segmentChanged($event)" scrollable color="danger" value="perfil" mode="md">
      <ion-segment-button value="perfil" [ngClass]="{'perfil': clase == 'perfil' ? true : false}">
        <ion-label style="color: white;">Mi perfil</ion-label>
        <ion-icon name="person-outline" style="color: white;"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="indicadores" [ngClass]="{'indicadores': clase == 'indicadores' ? true : false}">
        <ion-label style="color: white;">Indicadores</ion-label>
        <ion-icon name="heart-outline" style="color: white;"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="medidas" [ngClass]="{'medidas': clase == 'medidas' ? true : false}">
        <ion-label style="color: white;">Medidas</ion-label>
        <ion-icon name="body-outline" style="color: white;"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="imagen" [ngClass]="{'imagen': clase == 'imagen' ? true : false}">
        <ion-label style="color: white;">Fotos</ion-label>
        <ion-icon name="image-outline" style="color: white;"></ion-icon>
      </ion-segment-button>
      <!-- <ion-segment-button value="pago" [ngClass]="{'pago': clase == 'pago' ? true : false}">
        <ion-label style="color: white;">Premium</ion-label>
        <ion-icon name="card-outline" style="color: white;"></ion-icon>
      </ion-segment-button> -->
    </ion-segment>


   
  <div *ngIf="comparar ==='perfil' "> 
    <ion-grid>
    <form [formGroup]="form">
      <ion-row>
        <ion-col size="5" offset="4">
          <ion-avatar>
            <img [src]="imgSelected" (click)="captureImage(1)" onerror="this.src='https://images-na.ssl-images-amazon.com/images/I/51e6kpkyuIL._AC_SY355_.jpg'">
            <ion-fab-button size="small" (click)="captureImage(1)" >
              <ion-icon name="camera"></ion-icon>
            </ion-fab-button>
            <h1 style="margin: 0; text-align: center; color: white;">{{titulo}}</h1>
          </ion-avatar>
          
        </ion-col>
      </ion-row>
      <ion-row>         
        <ion-col size="12">
          
          <ion-label position="stacked" >Nombre y Apellido</ion-label>
          <ion-input formControlName="name">
            <ion-icon style="position: absolute;right: 1rem;color: red;font-size: 1.2rem;" name="pencil-outline"></ion-icon>
          </ion-input>
          <ion-label position="stacked">Género</ion-label>
          <ion-input [value]="genero" readonly></ion-input>
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input formControlName="email" readonly></ion-input>

          <ion-label>Objetivo</ion-label>
          <ion-item>
            <ion-label style="font-size: 1rem; font-weight: 300;" *ngIf="!valor">{{objetivo}}</ion-label>
            <ion-select interface="action-sheet" (ionChange)="obje($event)">
              <ion-select-option value="2" style="color: white;">Adelgazar</ion-select-option>
              <ion-select-option value="0" style="color: white;">Estar en forma</ion-select-option>
              <ion-select-option value="1" style="color: white;"> Ganar musculatura</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-col>
      </ion-row>
    </form>

    <form [formGroup]="formpass">
      <ion-row>
        <ion-col size="12">
          <ion-label position="stacked">Nueva Contraseña</ion-label>
          <ion-input formControlName="password" type="password">
            <ion-icon [ngClass]="getClass()" name="pencil-outline" (click)="changepass()">
            </ion-icon>
          </ion-input>
          <ion-label position="stacked">Confirmar Contraseña</ion-label>
          <ion-input formControlName="repassword" type="password">
          </ion-input>
            <ion-card  style="
            width: 254px; 
            border-radius: 10px;
            text-transform: uppercase;
            font-family: 'Open Sans';
            --background:#EF4044;
            color:white;
            margin: 0 auto;
            margin-bottom: 5px;
            "
          
          [disabled]="form.status == 'INVALID'"
          (click)="changeData()">
          <h4 style="margin: 10px; text-align: center;"> 
            <b>Actualizar</b>
          </h4> 
            </ion-card>
            <!-- [disabled]="form.status == 'INVALID'"
            (click)="changeData()"> -->
            <!-- [disabled]="formpass.status == 'INVALID'"
            (click)="changepass() -->
        </ion-col>
      </ion-row>
    </form>
    </ion-grid>

    <h4 style=" color:red; text-align: center; margin: 0; text-decoration: underline;"
    (click)="desconectar()">CERRAR SESIÓN</h4>

  </div>

  


  <div *ngIf="comparar ==='indicadores' ">
    <app-indicadores></app-indicadores>
  </div>

  <div *ngIf="comparar ==='medidas' ">
    <app-medidas></app-medidas>
  </div>
    
  <div *ngIf="comparar ==='pago' ">
    <app-premium></app-premium>
  </div>

  <div *ngIf="comparar ==='imagen' ">
    <app-fotos></app-fotos>
  </div>


 
</ion-content>


