/*logo*/
.logo{
    margin: 0 auto;
    max-height: 150px;
  }

  @mixin pantalla-ancha {
    @media screen and (orientation: landscape) {
        @content;
    }
}
  
.cabezera{
max-height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    width: 100%;
    overflow: hidden;
    @include pantalla-ancha(){
        display: none !important;
    }
}
/*fin logo*/
@mixin telefono-responsivo {
    @media (max-height:640px) {
        @content;
    }
  }




// ajustar imagen de carga a video
.videoReproductor{
    object-fit: cover; 
    width: 100%; 
    // height: 16em;
    @include telefono-responsivo(){
        height:auto;
        object-fit: fill; 
    }
}


// contenedor
.contenedor{
    width: 100%;
    height:100%; 
 }

 // contenedor cabezera
.contenedor-cabezera{
    width: 100%;
    max-height: 4rem;
    height:4rem;
    background-color:black;
    color: white;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
 }

 .contenedor-cuerpo{
     width: 100%;
     max-height: 70%;
     height:60%; 
     display: flex;
     margin-top: .5rem;
     justify-content: center;
     align-items: center;
     flex-direction: column;
  }
 
 
 .titulo {
     padding: 5px;
     font-size: 1.2rem;
     font-weight: 800;
 }

 .reloj{
    margin: 2px !important;
    font-size: 4em;
    font-weight: 800;
}

.text-reloj-titulo{
    font-weight: 700;
    margin: 0;
}

.text-reloj{
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}

.grid1{
    background-color:#F4F3F1; 
    padding: 0px;
 }
 .grid2{
     padding: 0px;
  }
 
  .logo{
    margin: 0 auto;
    max-height: 150px;
  }
  
  .cabezera{
    max-height: 150px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: black;
      width: 100%;
      overflow: hidden;
  }
  

  .titulodescanso{
      color: #959595;
      text-align: center;
      font-size: 50px;
  }
 
 
 .ion-text-center.titulo {
     font-weight: 800;
 }
 .center {
     text-align: center;
     font-size: 38px;
     font-weight: 800;
     padding-top: 0px;
     width: 100%;
     margin-top: 5px;
     margin-bottom: 0px;
 }
 .ion-text-center.titulo2 {
     width: 100%;
     font-size: 22px;
     padding-top: 28px;
 }
 .center.do {
     margin-top: 0px;
     font-weight: 400;
     font-size: 22px;
     margin-bottom: 15px;
 }
 .centerdo {
     text-align: center;
     margin: 0 auto;
 }
 
 img{
 //   height: 150px;
 //   width: 240px;
   height: auto;
   width: auto;
 }

 .animacion{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

@-webkit-keyframes fadeInRight{
    0%{
        opacity:0;
        -webkit-transform:translateX(200px);
        transform:translateX(200px)
    }
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
@keyframes fadeInRight{
    0%{
        opacity:0;
        -webkit-transform:translateX(200px);
        -ms-transform:translateX(200px);
        transform:translateX(200px)
    }
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
        transform:translateX(0)
    }
}
.fadeInRight{
    -webkit-animation-name:fadeInRight;
    animation-name:fadeInRight
}

.ocultarElemento{
    animation-duration: 2s;
    animation-name: hidebutton;
}

@keyframes hidebutton {
    0% {
     opacity: 0;
     transform: translateY(150px);
    }

    90% {
        opacity: 0;
        transform: translateY(150px);
    }
  
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }

  .segundos{
    margin: 0;
    font-size: 1rem;
    margin-top: -1rem;   
    }