/*logo*/
.logo{
    margin: 0 auto;
    max-height: 150px;
  }
  
.cabezera{
max-height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    width: 100%;
    overflow: hidden;
}
/*fin logo*/

@mixin telefono-responsivo {
    @media (max-width:375px) {
        @content;
    }
  }

// ajustar imagen de carga a video
.videoReproductor{
    object-fit: cover; 
    width: 100%; 
    height: 13em;
    @include telefono-responsivo(){
        height: 11em;
    }
}


// contenedor
.contenedor{
   width: 100%;
   height:100%; 
}
// contenedor cabezera
.contenedor-cabezera{
   width: 100%;
   max-height: 30%;
   height:auto; 
   background-color:black;
//    background-color:#F4F3F1;
   padding: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
   p{
       margin: 5px!important;
   }
}
// contenedor cuerpo
.contenedor-cuerpo{
    width: 100%;
    max-height: 70%;
    height:70%; 
    display: flex;
    justify-content: center;
    align-items: center;
 }


 // contenedor piepagina
// .contenedor-piepagina{
//     width: 100%;
//     max-height: 30%;
//     height:30%; 
//     //centrar
//     display: flex;
//     justify-content: center;
//     align-items: center;
//  }

 .controlar-texto{
     margin: 10px;
 }

.titulo {
    color: black;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
}

.reloj{
    margin: 10px !important;
    font-size: 4em;
    font-weight: 800;
}

.redondear{
    //llenar espacio
    flex-grow: 1;
    border: 4px;
   }

h2 {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 10px !important;
}



    
/*Cambio de pantalla*/
.fullscrean{
position:absolute;
right: 0;
font-size: 40px;
color:#f53d3d;
margin-right: 4%;
top: 9.375rem;
}

// ajustar imagen de carga a video
video[poster]{
    object-fit: cover;
  }
