<ion-buttons slot="start">
  <ion-fab vertical="center" style="margin-top:-4.75rem;"  horizontal="start" slot="fixed" class="animated fadeInUp delay-2s" >
   <ion-fab-button style="--background:#ef4044" (click)="devolver()" size="small">
     <ion-icon name="arrow-back-outline"></ion-icon>
   </ion-fab-button>
 </ion-fab>
</ion-buttons>


<ion-header [translucent]="true" class="ion-no-border">
  <div class="cabezera">
    <img src="assets/img/logo-app.png" class="logo">
  </div>
</ion-header>


<ion-content>
<div class="contenedor-segment">
  <ion-segment (ionChange)="segmentChanged($event)" scrollable color="danger" value="perfil" mode="md">
    <ion-segment-button value="perfil" [ngClass]="{'perfil': clase == 'perfil' ? true : false}">
      <ion-label style="color: white;">Medidas</ion-label>
      <ion-icon name="body-outline" style="color: white;"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="indicadores" [ngClass]="{'indicadores': clase == 'indicadores' ? true : false}">
      <ion-label style="color: white;">Fotos</ion-label>
      <ion-icon name="image-outline" style="color: white;"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="medidas" [ngClass]="{'medidas': clase == 'medidas' ? true : false}">
      <ion-label style="color: white;">Indicadores</ion-label>
      <ion-icon name="heart-outline" style="color: white;"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</div>


  <h2 class="title">Escoge el lapso para comparar tu progreso</h2>

  <div *ngIf="comparar ==='perfil' "> 
    <div class="contenedor-fecha">
      <ion-item lines="none" class="fecha-desde">
          <!--22-->
      <ion-label style="font-size: 18px;position: absolute;
      width: 100%;
      margin: 0 auto;
      text-align: center;" *ngIf="!valor">Desde</ion-label>
      <ion-select [interfaceOptions]="customActionSheetOptions"  interface="action-sheet"
       cancel-text="salir" (ionChange)="desde($event)">
      <ion-select-option *ngFor="let item of fechas; let i=index" value="{{item.id}}">
      {{item.created_at | slice: 0:10 }} </ion-select-option>
    </ion-select>
      </ion-item>
  
      <ion-item lines="none" class="fecha-hasta">
        <!--22-->
    <ion-label style="font-size: 18px;position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;" *ngIf="!valor2">Hasta</ion-label>
    <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" cancel-text="salir" (ionChange)="hasta($event)">
      <ion-select-option *ngFor="let item of fechas; let i=index" value="{{item.id}}">
      {{item.created_at | slice: 0:10 }} </ion-select-option>
  </ion-select>
      </ion-item>
    </div>
    <ion-grid>
      <!-- 1 -->
      <ion-row>
        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Cintura mínima(cm)</ion-label>
          <div class="contenedor-input">
            <p class="input-custom">{{medidas_ante.min_waist}}</p>
            <p class="input-custom">{{medidas_despues.max_waist}}</p>
         </div>
          
    <ion-row>
      <ion-col size="12" style="margin: 0 auto;">
        <ion-segment  mode="ios">
         <ion-segment-button disabled value="Cm" >
            <ion-label class="titulopeque">Antes</ion-label>
          </ion-segment-button>
          <ion-segment-button disabled value="Pulgadas">
            <ion-label class="titulopeque">Despues</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
        </ion-col>
        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Cintura máxima(cm)</ion-label>
          <div class="contenedor-input">
            <p class="input-custom">{{medidas_ante.max_waist}}</p>
            <p class="input-custom">{{medidas_despues.max_waist}}</p>
         </div>
          
    <ion-row>
      <ion-col size="12" style="margin: 0 auto;">
        <ion-segment  mode="ios">
         <ion-segment-button disabled>
            <ion-label class="titulopeque">Antes</ion-label>
          </ion-segment-button>
          <ion-segment-button disabled>
            <ion-label class="titulopeque">Despues</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
        </ion-col>
      </ion-row>
      <!-- 2 -->
      <ion-row>
        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Cadera(cm)</ion-label>
          <div class="contenedor-input">
            <p class="input-custom">{{medidas_ante.hip}}</p>
            <p class="input-custom">{{medidas_despues.hip}}</p>
         </div>
          
    <ion-row>
      <ion-col size="12" style="margin: 0 auto;">
        <ion-segment  mode="ios">
         <ion-segment-button disabled value="Cm" >
            <ion-label class="titulopeque">Antes</ion-label>
          </ion-segment-button>
          <ion-segment-button  disabled value="Pulgadas">
            <ion-label class="titulopeque">Despues</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
        </ion-col>
        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Cuello(cm)</ion-label>
          <div class="contenedor-input">
            <p class="input-custom">{{medidas_ante.neck}}</p>
            <p class="input-custom">{{medidas_despues.neck}}</p>
         </div>
          
    <ion-row>
      <ion-col size="12" style="margin: 0 auto;">
        <ion-segment  mode="ios">
         <ion-segment-button disabled value="Cm" >
            <ion-label class="titulopeque">Antes</ion-label>
          </ion-segment-button>
          <ion-segment-button disabled value="Pulgadas">
            <ion-label class="titulopeque">Despues</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
        </ion-col>
      </ion-row>
      <!-- 3 -->
      <ion-row>
        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Muslo derecho(cm)</ion-label>
          <div class="contenedor-input">
            <p class="input-custom">{{medidas_ante.right_thigh}}</p>
            <p class="input-custom">{{medidas_despues.right_thigh}}</p>
          </div>
          
    <ion-row>
      <ion-col size="12" style="margin: 0 auto;">
        <ion-segment  mode="ios">
          <ion-segment-button disabled value="Cm" >
            <ion-label class="titulopeque">Antes</ion-label>
          </ion-segment-button>
          <ion-segment-button disabled value="Pulgadas">
            <ion-label class="titulopeque">Despues</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
        </ion-col>
        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Muslo izquierdo(cm)</ion-label>
          <div class="contenedor-input">
            <p class="input-custom">{{medidas_ante.left_thigh}}</p>
            <p class="input-custom">{{medidas_despues.left_thigh}}</p>
          </div>
          
    <ion-row>
      <ion-col size="12" style="margin: 0 auto;">
        <ion-segment  mode="ios">
          <ion-segment-button disabled value="Cm" >
            <ion-label class="titulopeque">Antes</ion-label>
          </ion-segment-button>
          <ion-segment-button disabled value="Pulgadas">
            <ion-label class="titulopeque">Despues</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
        </ion-col>
      </ion-row>
      <!-- 4 -->
      <ion-row>
        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Brazo relajado derecho(cm)</ion-label>
          <div class="contenedor-input">
            <p class="input-custom">{{medidas_ante.right_arm}}</p>
            <p class="input-custom">{{medidas_despues.right_arm}}</p>
          </div>
          
    <ion-row>
      <ion-col size="12" style="margin: 0 auto;">
        <ion-segment  mode="ios">
          <ion-segment-button disabled value="Cm" >
            <ion-label class="titulopeque">Antes</ion-label>
          </ion-segment-button>
          <ion-segment-button disabled value="Pulgadas">
            <ion-label class="titulopeque">Despues</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
        </ion-col>
        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Brazo relajado izquierdo(cm)</ion-label>
          <div class="contenedor-input">
            <p class="input-custom">{{medidas_ante.left_arm}}</p>
            <p class="input-custom">{{medidas_despues.left_arm}}</p>
          </div>
          
    <ion-row>
      <ion-col size="12" style="margin: 0 auto;">
        <ion-segment  mode="ios">
          <ion-segment-button disabled value="Cm" >
            <ion-label class="titulopeque">Antes</ion-label>
          </ion-segment-button>
          <ion-segment-button disabled value="Pulgadas">
            <ion-label class="titulopeque">Despues</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
        </ion-col>
      </ion-row>
      <!-- 5 -->
      <ion-row>
        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Brazo flexionado derecho(cm)</ion-label>
          <div class="contenedor-input">
            <p class="input-custom">{{medidas_ante.right_arm_flexed}}</p>
            <p class="input-custom">{{medidas_despues.right_arm_flexed}}</p>
          </div>
          
    <ion-row>
      <ion-col size="12" style="margin: 0 auto;">
        <ion-segment  mode="ios">
          <ion-segment-button disabled value="Cm" >
            <ion-label class="titulopeque">Antes</ion-label>
          </ion-segment-button>
          <ion-segment-button disabled value="Pulgadas">
            <ion-label class="titulopeque">Despues</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
        </ion-col>
        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Brazo flexionado izquierdo(cm)</ion-label>
          <div class="contenedor-input">
            <p class="input-custom">{{medidas_ante.left_arm_flexed}}</p>
            <p class="input-custom">{{medidas_despues.left_arm_flexed}}</p>
          </div>
          
    <ion-row>
      <ion-col size="12" style="margin: 0 auto;">
        <ion-segment  mode="ios">
          <ion-segment-button disabled value="Cm" >
            <ion-label class="titulopeque">Antes</ion-label>
          </ion-segment-button>
          <ion-segment-button disabled value="Pulgadas">
            <ion-label class="titulopeque">Despues</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
        </ion-col>
      </ion-row>
      <!-- 6 -->
      <ion-row>
        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Pantorrilla derecha(cm)</ion-label>
          <div class="contenedor-input">
            <p class="input-custom">{{medidas_ante.right_calf}}</p>
            <p class="input-custom">{{medidas_despues.right_calf}}</p>
          </div>
          
    <ion-row>
      <ion-col size="12" style="margin: 0 auto;">
        <ion-segment  mode="ios">
          <ion-segment-button disabled value="Cm" >
            <ion-label class="titulopeque">Antes</ion-label>
          </ion-segment-button>
          <ion-segment-button disabled value="Pulgadas">
            <ion-label class="titulopeque">Despues</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
        </ion-col>
        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Pantorrilla izquierda(cm)</ion-label>
          <div class="contenedor-input">
            <p class="input-custom">{{medidas_ante.left_calf}}</p>
            <p class="input-custom">{{medidas_despues.left_calf}}</p>
          </div>
          
    <ion-row>
      <ion-col size="12" style="margin: 0 auto;">
        <ion-segment  mode="ios">
          <ion-segment-button disabled value="Cm" >
            <ion-label class="titulopeque">Antes</ion-label>
          </ion-segment-button>
          <ion-segment-button disabled value="Pulgadas">
            <ion-label class="titulopeque">Despues</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
        </ion-col>
      </ion-row>
      <!-- 7 -->
      <ion-row>
        <!-- <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">IMC</ion-label>
          <div class="contenedor-input">
            <p class="input-custom">{{medidas_ante.imc}}</p>
            <p class="input-custom">{{medidas_despues.imc}}</p>
          </div>
          
    <ion-row>
      <ion-col size="12" style="margin: 0 auto;">
        <ion-segment  mode="ios">
          <ion-segment-button disabled value="Cm" >
            <ion-label class="titulopeque">Antes</ion-label>
          </ion-segment-button>
          <ion-segment-button disabled value="Pulgadas">
            <ion-label class="titulopeque">Despues</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
        </ion-col> -->
        <!-- <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">ICA</ion-label>
          <div class="contenedor-input">
            <p class="input-custom">{{medidas_ante.ica}}</p>
            <p class="input-custom">{{medidas_despues.ica}}</p>
          </div>
          
    <ion-row>
      <ion-col size="12" style="margin: 0 auto;">
        <ion-segment  mode="ios">
          <ion-segment-button disabled value="Cm" >
            <ion-label class="titulopeque">Antes</ion-label>
          </ion-segment-button>
          <ion-segment-button disabled value="Pulgadas">
            <ion-label class="titulopeque">Despues</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
        </ion-col> -->
      </ion-row>
      <!-- 8 -->
      <ion-row>
        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Tórax(cm)</ion-label>
          <div class="contenedor-input">
            <p class="input-custom">{{medidas_ante.torax}}</p>
            <p class="input-custom">{{medidas_despues.torax}}</p>
          </div>
          
    <ion-row>
      <ion-col size="12" style="margin: 0 auto;">
        <ion-segment  mode="ios">
          <ion-segment-button disabled value="Cm" >
            <ion-label class="titulopeque">Antes</ion-label>
          </ion-segment-button>
          <ion-segment-button  disabled value="Pulgadas">
            <ion-label class="titulopeque">Despues</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>


  <div *ngIf="comparar ==='indicadores' "> 
    <div class="contenedor-fecha">
      <ion-item lines="none" class="fecha-desde">
          <!--22-->
      <ion-label style="font-size: 18px;position: absolute;
      width: 100%;
      margin: 0 auto;
      text-align: center;" *ngIf="!valor">Desde</ion-label>
      <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet"  cancel-text="salir" (ionChange)="desde($event)">
      <ion-select-option *ngFor="let item of fechas; let i=index" value="{{item.id}}">
      {{item.created_at | slice: 0:10}} </ion-select-option>
    </ion-select>
      </ion-item>
  
      <ion-item lines="none" class="fecha-hasta">
        <!--22-->
    <ion-label style="font-size: 18px;position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;" *ngIf="!valor2">Hasta</ion-label>
    <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" cancel-text="salir" (ionChange)="hasta($event)">
      <ion-select-option *ngFor="let item of fechas; let i=index" value="{{item.id}}">
      {{item.created_at | slice: 0:10}} </ion-select-option>
  </ion-select>
      </ion-item>
    </div>
    <ion-grid>
      <!-- 1 -->
      <ion-row style="margin-bottom: 1.5rem;">
        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">
            <sup>
              <ion-icon (click)="modal(medidas_ante.front_photo)" name="alert-circle" style="font-size: 1.25rem; color: tomato;">
              </ion-icon>
            </sup>
            Foto de frente
          </ion-label>
          <img  class="img-size" [src]="medidas_ante.front_photo" alt=""
          onerror="this.src='https://images-na.ssl-images-amazon.com/images/I/51e6kpkyuIL._AC_SY355_.jpg'">
        </ion-col>

        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">
            Foto de frente
            <sup>
              <ion-icon (click)="modal(medidas_despues.front_photo)" name="alert-circle" style="font-size: 1.25rem; color: tomato;">
              </ion-icon>
            </sup>
          </ion-label>
          <img class="img-size" [src]="medidas_despues.front_photo" alt=""
          onerror="this.src='https://images-na.ssl-images-amazon.com/images/I/51e6kpkyuIL._AC_SY355_.jpg'">
        </ion-col>
      </ion-row>

      <!-- 2 -->
      <ion-row style="margin-bottom: 1.5rem;">
        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">
            <sup>
              <ion-icon (click)="modal(medidas_ante.profile_photo)" name="alert-circle" style="font-size: 1.25rem; color: tomato;">
              </ion-icon>
            </sup>
            Foto de perfil
          </ion-label>
          <img class="img-size" [src]="medidas_ante.profile_photo" alt=""
          onerror="this.src='https://images-na.ssl-images-amazon.com/images/I/51e6kpkyuIL._AC_SY355_.jpg'">
        </ion-col>

        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">
            Foto de perfil
            <sup>
              <ion-icon (click)="modal(medidas_despues.profile_photo)" name="alert-circle" style="font-size: 1.25rem; color: tomato;">
              </ion-icon>
            </sup>
          </ion-label>
          <img class="img-size" [src]="medidas_despues.profile_photo" alt=""
          onerror="this.src='https://images-na.ssl-images-amazon.com/images/I/51e6kpkyuIL._AC_SY355_.jpg'">
        </ion-col>
      </ion-row>

      <!-- 3 -->
      <ion-row style="margin-bottom: 1.5rem;">
        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">
            <sup>
              <ion-icon (click)="modal(medidas_ante.back_photo)" name="alert-circle" style="font-size: 1.25rem; color: tomato;">
              </ion-icon>
            </sup>
            Foto de espalda
          </ion-label>
          <img class="img-size" [src]="medidas_ante.back_photo" alt=""
          onerror="this.src='https://images-na.ssl-images-amazon.com/images/I/51e6kpkyuIL._AC_SY355_.jpg'">
        </ion-col>

        <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">
            Foto de espalda
            <sup>
              <ion-icon (click)="modal(medidas_despues.back_photo)" name="alert-circle" style="font-size: 1.25rem; color: tomato;">
              </ion-icon>
            </sup>
          </ion-label>
          <img  class="img-size" [src]="medidas_despues.back_photo" alt=""
          onerror="this.src='https://images-na.ssl-images-amazon.com/images/I/51e6kpkyuIL._AC_SY355_.jpg'">
        </ion-col>
      </ion-row>

    </ion-grid>


  </div>



  <div *ngIf="comparar ==='medidas' "> 
    <app-indicadorescomparacion></app-indicadorescomparacion>
  </div>
  
</ion-content>
