<ion-content [scrollEvents]="false"  fullscreen>
  
  <p class="omitir"  (click)="omitir()">
    Omitir
  </p>
  <br>
  <br>
  <div class="nosotros">
    <div class="text text-team">
      <h3>ACERCA DE LOS CREADORES</h3>
      <h1><i>SANTIAGO VALENCIA</i></h1>
      <div class="line-red"></div>
      <p>Master coach con 10 años de experiencia en los principales centros de acondicionamiento físico de Sur américa. Certificado NSCA (National Strengh and Conditioning Association), Master en prevención y readaptación, Functional Training, Licenciado en educación física universidad de San Buenaventura.</p>
    </div>
    <div class="model">
      <img src="assets/img/santiago.webp" alt="">
    </div>
  </div>
  <div class="nosotros">

    <div class="text text-team">
      <h1><i>ALEJANDRO MEJÍA</i></h1>
      <div class="line-red"></div>
      <p>Entrenador personal certificado por Federación Internacional de Culturismo IFBB, Asociación Europea de Salud y Fitness EHFA, FEDA Federación Española de Fitness y Actividades dirigidas. Sociedad Internacional ISAK para el Avance de la Cineantropometría.</p>
    </div>
    <div class="model">
      <img src="assets/img/alejandro.webp" alt="">
    </div>
    <ion-card  style="
      width: 60%;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    --background: #EF4044;
    color: white;
    margin: 0 auto;
    margin-top: -80px;
    "
  (click)="omitir()">
  <h4 style="margin: 7px; text-align: center;"> 
    EMPEZAR YA
  </h4> 
    </ion-card>
  </div>


</ion-content>



