<ion-content fullscreen>
  
  <p class="omitir"  (click)="omitir()">
    Omitir
  </p>
  
  <div class="imagen" >
    <img src="assets/img/comer_nunca_fue_tan_divertido_movil.webp" style="width: 100%;">
  </div>
  
  <div class="titulo">
    <h2>¡Comer nunca fue tan  <br> divertido!</h2>
  </div>
  
  <ion-row>
    <ion-col size="12">
      <div class="box">
        <p style="margin-top: 0;">Olvídate de las dietas super estrictas y restrictivas, queremos que aprendas acerca de nutrición. Fittech te enseña lo que nunca antes te han enseñado para lograr tus objetivos comiendo de manera sana, divertida y balanceada. </p>
      </div>
    </ion-col>
  </ion-row>

 
  


</ion-content>



