.titulo{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    opacity: 0.7;
    margin-bottom: 20px;
  }

.titulopeque{
    font-size: 17px;
    font-weight: 200; 
}

.ion-grid2{
    height: 100%;
}
.ion-row2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.button-inner {
    background-color: red;
}