<ion-content>
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <div class="cabezera">
      <img src="assets/img/logo-app.png" class="logo">
    </div>
  </ion-toolbar>
</ion-header>

<!-- cabezera -->

<ion-grid  style="padding: 0px;" >
  <ion-row style="background-color:#F4F3F1;">
    <ion-col size="12" style="padding: 0px;" >
      <img src="assets/img/calentamientofinalizar1.jpg" width="100%"/>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
       <h1  class="titulo"  style="text-align: center;"> Calentamiento Finalizado</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <h1 class="ion-text-center">   ¡Preparate para comenzar la rutina! </h1>
    </ion-col>
  </ion-row>

    <ion-row >
      <ion-col  size="12">   
          <ion-card style="  
            background: #EF4044;
            color: white;
            width: 286px; 
            border-radius: 10px;
            text-transform: uppercase;
            font-family: 'Open Sans';" (click)="siguiente()">
            <h2 style="text-align: center; margin: 10px;">
             <b> Empezar </b>
            </h2>  
          </ion-card>
      </ion-col>
      
    </ion-row>


</ion-grid>

</ion-content>
<!-- <ion-fab vertical="bottom"  horizontal="end" slot="fixed">
  <ion-fab-button color="danger" (click)="siguiente()">
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-fab-button>
</ion-fab> -->
