<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/test-fuerza-info"></ion-back-button>
    </ion-buttons>
    <ion-title  mode="ios">Test de fuerza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2 class="ion-padding-horizontal ion-text-center">Complete el ejercicio.</h2>

  <ion-grid>
    <ion-row >
      <ion-col  size="12">   
        <div  class="ion-padding" (click)="legcurl()" id="curl">
          <img src="assets/img/legcurl.jpg"/>
        </div>   
      </ion-col>
    </ion-row>
  </ion-grid> 
  
  


</ion-content>
