
<ion-content [fullscreen]="true" slot="fixed">
  <ion-grid style="background-color:#F4F3F1; padding: 0px;" >
  <ion-row >
  	<p class="ion-text-center titulo2">¡Prepárate!</p>
  	<p class="ion-text-center titulo2">en</p>
  	<p class="center">00:{{timeLeft}}</p>
  	<p class="center do">Siguiente</p>
    <ion-col class="centerdo" size="8" style="padding: 0px;" >
      <img src="assets/img/pressbanca.jpg"/>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
       <p class="ion-text-center titulo">{{ejercipro}}</p>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="ion-grid2">
  
  


</ion-grid>

</ion-content>



