:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

h2 {
  opacity: 0.7;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.iconSize {
  font-size: 25px;
}

ion-list {
  padding: 0px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.animacion {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
