.omitir{
    position: absolute;
    color: #EF4044;
    right: 2rem;
    z-index: 2;
    font-weight: bold;
}
.ion-slides{
    z-index: 0;
}
.imagen{
    width: 100%;
}

h2{
    color: white;
    font-size: 28px;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.box{
    color: white;
    opacity: 0.7;
    font-size: 18px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.header{
    img{
        width: 100px !important;
        z-index:2;
    }
}
@import '../../pages/landing/landing.component.scss';