<ion-content fullscreen>
  
  <p class="omitir" (click)="omitir()">
    Omitir
  </p>
  
  <div class="container-landing">
    <div class="bg">
      <div class="container-all">
        <div class="header">
          <img width="160px" src="assets/img/logo-fittech.png" class="logo">
      
        </div>
        <div class="follow-social">
          <ion-icon name="logo-youtube"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-icon name="logo-facebook"></ion-icon>
          <p>Siguenos en</p>
        </div>
        <input type="radio" id="1" name="image-slide" hidden/>
        <input type="radio" id="2" name="image-slide" hidden/>
        <input type="radio" id="3" name="image-slide" hidden/>
  
        <ion-slides pager="true" [options]="slideOpts" class="ion-slides">
          <ion-slide>
            <div class="item-slide">
              <img src="assets/img/PORTADA-HOME.webp">
          </div>
          </ion-slide>
          <ion-slide>
            <div class="item-slide">
              <a href="https://smartpronutrition.com/sumoaffiliates/fittech/"> <img src="assets/img/tienda-smart-pro.jpg"></a>
           </div>
          </ion-slide>
          <ion-slide>
            <div class="item-slide">
              <a href="https://crear.wa.link/"> <img src="assets/img/tienda-smart-pro.jpg"></a>
          </div>
          </ion-slide>
        </ion-slides>  
      </div>
  
  
  
    <div class="text-movil">
      <h1><i>BIENVENIDO A <br>FITTECH APP</i></h1>
  
      <p>Entrenamiento y nutrición adaptado a ti, donde lo quieras llevar.</p>
      <button ><i>PRONTO PODRAS DESCARGAR LA APP</i></button>
    </div>
  </div>
  <div class="sidebar">
    <h1><i><span class="title">BIENVENIDO A <br>FITTECH APP</span></i></h1>
    <p>Entrenamiento y nutrición adaptado a ti, donde lo quieras llevar.</p>
    <button ><i>PRONTO PODRAS DESCARGAR LA APP</i></button>
  </div>
  </div>
  <div class="nosotros">
    <div class="text">
      <h3>CONOCE MAS DE NOSOTROS</h3>
      <h1><i>¿QUÉ ES FITTECH?</i></h1>
      <div class="line-red"></div>
      <p>Es un sistema inteligente de entrenamiento personal y nutrición que se adapta a los objetivos, contexto y posibilidades de cada persona, teniendo en cuenta todos los parámetros de salud de una manera integral. <br><br>
        Con un plan de entrenamiento y de nutrición personalizado, además de un registro de datos, fotos, e indicadores de salud, garantizamos un cambio de 180 grados a tu físico y tu salud. 
        <br><br>Fittech cuenta con una tienda virtual donde podrás tener acceso a todo lo relacionado con fitness, suplementación e implementos deportivos a tan solo un clic de distancia.</p>
    </div>
    <div class="model">
      <img src="assets/img/que_es_fittech.webp" alt="">
    </div>
  </div>
 
  


</ion-content>



