<ion-header [translucent]="true" class="ion-no-border">
  <div class="cabezera">
    <img src="assets/img/logo-app.png" class="logo">
  </div>
</ion-header>

<ion-content>
  <ion-grid class="grid1">
  <ion-row >
  	<p class="ion-text-center titulo2" *ngIf="mostrartitulo" style="margin-top: 0; margin-bottom: 0; padding-top: 0;">Comienza en!</p>
    <p class="center">0{{timeLeft}}</p>
  	<p class="center do">Tu siguiente ejercicio es: </p>
  	<p class="center do" style="color: red;">{{nombre.name}} </p>
    <ion-col class="centerdo" size="8" style="padding: 0px;" >
      <!-- https://via.placeholder.com/150 -->
      <!-- http://fittech247.com/fittech/imagenes/{{ejercipro.cod}}/{{ejercipro.id}}.jpg -->
      <img *ngIf="imagen" [src]= "imagen">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <!-- {{ejercipro.name}} -->
       <!-- <p class="ion-text-center titulo"  *ngIf="nombre"> {{nombre.name}}</p>    -->
    </ion-col>
  </ion-row>
  </ion-grid>
  <div class="grid2">
    <h1 class="titulodescanso" style="margin-top: 0px !important;color: red;">Descanso</h1>
  </div>

  <ion-fab vertical="bottom"  horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="redirigir()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom"  horizontal="start" slot="fixed">
    <ion-fab-button color="light" (click)="atras()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>



