/*logo*/
.logo{
    margin: 0 auto;
    max-height: 150px;
  }
  
  @mixin pantalla-ancha {
    @media screen and (orientation: landscape) {
        @content;
    }
}


.cabezera{
max-height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    width: 100%;
    overflow: hidden;
    @include pantalla-ancha(){
        display: none !important;
    }
}
/*fin logo*/

@mixin telefono-responsivo {
    @media (max-height:640px) {
        @content;
    }
  }

// ajustar imagen de carga a video
.videoReproductor{
    object-fit: cover; 
    width: 100%; 
    // height: 16em;
    @include telefono-responsivo(){
        height: auto;
        object-fit: fill; 
    }
}



// contenedor
.contenedor{
   width: 100%;
   height:100%; 
}
// contenedor cabezera
.contenedor-cabezera{
    width: 100%;
    max-height: 4rem;
    height:4rem;
    background-color:black;
    color: white;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
   p{
        font-size: 1.1rem; text-align: center;
        @include telefono-responsivo(){
            font-size: 1rem;
            margin-left:5px;
            margin-right: 5px;
        }
   }
}
// contenedor cuerpo
.contenedor-cuerpo{
    width: 100%;
   /*  max-height: 40%; */
    height:auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
 }


 // contenedor piepagina
.contenedor-piepagina{
    width: 100%;
    max-height: 30%;
    height:30%; 
    //centrar
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .controlar-texto{
     margin: 10px;
 }

.titulo {
    color: black;
    font-size: 1.4rem;
    font-weight: 800;
}

.reloj{
    margin: 10px !important;
    font-size: 4em;
    font-weight: 800;
}

.redondear{
    //llenar espacio
    flex-grow: 1;
    border-radius: 10px;
    border: 4px;
   }

h2 {
    text-align: center;
    // text-transform: capitalize;
    font-weight: bold;
    margin-top: 10px !important;
}


// .ion-text-center.titulo {
//     text-transform: capitalize;
// }
// .ion-grid1{
//     height:19%;
//     width: 100%;
// }

// .eliminar-margin{
//  margin-top: 7px!important;
// }

.center {
    text-align: center;
    font-size: 38px;
    font-weight: 800;
    padding-top: 0px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
}

.grid1{
    background-color:#F4F3F1; 
    padding: 0px;
 }
 .grid2{
     padding: 0px;
  }

  .titulodescanso{
    color: #959595;
    text-align: center;
    font-size: 50px;
}

.segundos{
    margin: 0;
    font-size: 1rem;
    margin-top: -1rem;   
    }