<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="saltar()">
      Saltar 
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios">Alimentación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="box-img-container">
    <span class="identificador"> 1 / 2 </span>
    <img src="assets/img/imagen calentamiento@2x.png">
  </div>

  <div class="box-text-container">
    <p class="parrafo">
      Bienvenido a los <b>planes de nutrición</b> personalizados y adaptados a tu objetivo de <b>Fittech</b>. <br> <br>Queremos que te familiarices y tratar de hacer de lo complejo algo <b>muy simple</b>, para que no solo cambies tus hábitos sino que puedas <b>aprender acerca de nutrición</b>. <br><br> 
      Si estás listo para comenzar <b>desliza</b>...
    </p>
  </div>




</ion-content>


