.titulo {
  font-size: 25px;
  font-weight: 600;
}

.titulopeque {
  font-size: 22px;
  font-weight: 400;
}

.ion-grid2 {
  height: 100%;
}

.ion-row2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ion-text-center.titulo {
  text-transform: capitalize;
}

.ion-text-center.sui {
  font-size: 42px;
  font-weight: 600;
}

video {
  max-width: 100%;
}
