
  .titulo{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    opacity: 0.7;
    margin-bottom: 20px;
  }

.iconSize {
    font-size: 27px;
  }

.svgSize{
    width: 250px;
}

.margin-parrafo{
    margin-bottom: 0px;
}

.margin-last{
    margin-bottom: 40px;
}

.contenedor{
padding: 20px;
}