<ion-grid  style="padding: 0px;" >
  <ion-row style="background-color:#F4F3F1;">
    <ion-col size="12" style="padding: 0px;" >
      <img src="assets/img/calentamientoInicial.jpeg"/>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
       <p class="ion-text-center titulopeque"> Realiza de <b>2 a 3 series</b> de calentamiento de <b>1 minuto </b> cada una y <b>15 segundos</b>  de descanso entre serie con un <b>peso ligero</b>  de modo que  prepares tus músculos para el trabajo a continuación. </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <h1 class="ion-text-center">   ¡Prepara tu cuerpo! </h1>
    </ion-col>
  </ion-row>

</ion-grid>



<ion-fab vertical="bottom"  horizontal="start" slot="fixed">
  <ion-fab-button color="light" (click)="atras()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-fab vertical="bottom"  horizontal="end" slot="fixed">
  <ion-fab-button color="danger" (click)="siguiente()">
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
