<!-- <ion-header> -->

<!-- <video controls width="100%">
  <source [src]="video" />
</video> -->

<!-- 
<ion-content>
  <p> Aqui comienza la descarga </p>


    <!-- <ion-button (click)="descarga()" expand="block" fill="clear" shape="round">
      Click para descargar archivo 
    </ion-button>

    <ion-button (click)="testear()" expand="block" fill="clear" shape="round">
      Click para iterar
    </ion-button> -->

    <!-- <div class="ion-text-center">
      <progress [value]="contador" [max]="maximo"></progress>
    </div>

 -->


<!-- </ion-content> --> -->


<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="assets/img/esperarfittech.gif"/>
        <h2>Descargando videos.</h2>
        <p>Por favor espere a que se descargue la  rutinas de trabajo para comenzar con tus ejercicios.</p>
      </div>

      
        <div class="ion-text-center">
          <progress [value]="contador" [max]="maximo"></progress>
        </div>
      
    
    </ion-slide>
  </ion-slides>