<ion-content fullscreen>
  
  <p class="omitir" (click)="omitir()">
    Omitir
  </p>
  
  <div class="imagen" >
    <img src="assets/img/calentamientofinalizar1.jpg" style="width: 100%;">
  </div>
  
  <div class="titulo">
    <h2>Personalización <br> única</h2>
  </div>
  
  <ion-row>
    <ion-col size="12">
      <div class="box">
        <p style="margin-top: 0;">La personalizacion minuciosa de FITTECH tiene en cuenta parametros especificos a la salud, composicion corporal, capacidades fisicas y lugar de entrenamiento a traves de test y cuestionarios inteligentes que la hacen unica en las app fitness actuales. </p>

      </div>
    </ion-col>
  </ion-row>

 
  


</ion-content>



