<ion-content [scrollEvents]="false"  fullscreen>

  <p class="omitir" (click)="omitir()">
    Omitir
  </p>
  <div class="porque-fittech">
    <div class="text porque-title">
      <h1><i>¿POR QUÉ FITTECH?</i></h1>
      <div class="line-red"></div>
      <br>
      <br>
    </div>
    <div class="container-cards">
      <div class="card-fittech">
        <div class="img-card">
          <img width="300px" src="assets/img/personalizacion-unica.jpg" alt="">
        </div>
        <div class="text-card">
          <h2>Personalización única</h2>
          <p>La personalización minuciosa de FITTECH tiene en cuenta parámetros específicos a la salud, composición
            corporal, capacidades físicas y lugar de entrenamiento a través de test y cuestionarios inteligentes que la
            hacen única en las app fitness actuales.</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>

