<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-fab  horizontal="start" slot="fixed" class="animated fadeInUp delay-2s" >
        <ion-fab-button style="--background:#ef4044" (click)="atras()" size="small">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-buttons>
    <div class="cabezera">
      <img src="assets/img/logo-app.png" class="logo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" slot="fixed">

  <div class="contenedor animated fadeInLeft delay-1s">
      <h2 style=" text-align: center;font-size: 28px;font-weight: bold;opacity: 0.7;
      margin-bottom: 20px;">¿Dónde vas a entrenar?</h2>
      <ion-grid class="my-grid">
      <ion-row class="parent-row">
        <ion-col size="12">      
        <ion-card class="color-tarjeta2"  disabled='true' (click)="entrenar(0)" 
        style="
            width: 286px; 
            border-radius: 10px;
            text-transform: uppercase;
            font-family: 'Open Sans';">
          <h2 style="margin: 10px;">
            <b>Gym</b> 
          </h2>
        </ion-card>
        </ion-col>
        <ion-col  size="12">      
          <ion-card class="color-tarjeta2" disabled='true' (click)="entrenar(1)" style="
            width: 286px; 
            border-radius: 10px;
            text-transform: uppercase;
            font-family: 'Open Sans';">
            <h2 style="margin: 10px;">
              <b>Al aire libre</b>
            </h2>  
          </ion-card>
        </ion-col>
        <ion-col  size="12">      
          <ion-card class="color-tarjeta" (click)="entrenar(2)" style="
            width: 286px; 
            border-radius: 10px;
            text-transform: uppercase;
            font-family: 'Open Sans';
          ">
            <h2 style="margin: 10px;">
              <b>Casa</b>
            </h2>  
          </ion-card>
        </ion-col>
      </ion-row>
      </ion-grid>    

      <ion-col  size="12">      
        <div class="ion-text-center letra" style="padding: 0 1rem;">
          Pensando en cuidarte y ser responsables con la sociedad y debido a la pandemia mundial no están habilitadas las opciones gym y outdoor; por esto queremos que entrenes desde casa con nosotros
        </div>
      </ion-col>


  </div>

 

</ion-content>
