<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <img src="assets/img/logo-app.png" class="imagenmodificada">
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios">Lista de ejercicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <p class="ion-text-center"> Selecione un ejercicio que le guste </p>


    <ion-item *ngFor="let ejercicio of serie">
      <ion-thumbnail slot="start">
        <!-- <img src="assets/img/logo-app.png"> -->
        <img src="https://smartbunnypruebas.com/imagenes/{{ejercicio.cod}}/{{ejercicio.id}}.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h2> {{ejercicio.name}} </h2>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="mostrarpop($event,ejercicio.id, ejercicio)">
          <ion-icon slot="start" md="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-item>



  </ion-list>

</ion-content>

<!-- <ion-button (click)="mostrarpop($event,ejercicio.id)" color="danger">
  <ion-icon slot="start" md="ellipsis-horizontal"></ion-icon>   </ion-button> -->