<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios">Test de resistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row >
      <ion-col  size="12">   
        <div  class="ion-padding-horizontal">
          <img src="assets/img/runner.jpg"/>
        </div>   
      </ion-col>
    </ion-row>
  </ion-grid>   
  <div  class="ion-padding ion-text-justify">
    Realizar el test de resistencia permitira brindarte una personalización mucho más completa.
    Recuerda que hacer esto te va a permitir evaluarte cada 6 semanas y medir tu progreso.
  </div>   

  <div class="ion-padding ion-text-justify">
    Por favor correr por 12 minutos, mide la distancia recorrida total e introduce los datos obtenidos.
  </div>

  <ion-grid class="ion-padding">
    <ion-row >
      <ion-col  size="12">   
        <ion-input type="text" name="correr" [(ngModel)]="atleta.correr" placeholder="mts"></ion-input> 
      </ion-col>
      <ion-col  size="12">   
        <div>
          <ion-card color="dark" (click)="test()">
            <h2 class="ion-text-center">Finalizar</h2>  
          </ion-card>
        </div>   
      </ion-col>
    </ion-row>
  </ion-grid>  

</ion-content>
