<ion-buttons slot="start">
  <ion-fab vertical="center" style="margin-top:-4.75rem;" horizontal="start" slot="fixed"
    class="animated fadeInUp delay-2s">
    <ion-fab-button style="--background:#ef4044" (click)="devolver()" size="small">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-buttons>


<ion-header [translucent]="true" class="ion-no-border">
  <div class="cabezera">
    <img src="assets/img/logo-app.png" class="logo">
  </div>
</ion-header>

<ion-content>
  <div style="padding-bottom: 0;" class="ion-padding ion-text-left titulo">
    Resumen Nutricional

    <ion-fab (click)="tutorial()" horizontal="end" vertical="top" slot="fixed">
      <ion-button color="danger" size="small" style="margin-bottom: 16px;">Tutorial</ion-button>
    </ion-fab>

  </div>

  <div *ngIf="nombre" class="ion-padding ion-text-left titulo2">
    Hola {{nombre}}, estos son tus requerimientos nutricionales que deberías consumir cada día.
  </div>

  <div style="margin: 0 10px;">
    <div class="contenedorMenu">
      <div class="contenedorMenuItem"
        style="border-bottom-left-radius: 12px;border-top-left-radius: 12px;background:black;">
        <p style="color: white;">Carbohidratos</p>
        <ion-progress-bar class="carboP" [value]="progressBar(carbo, totalFoods.total_carbo)"
          [ngClass]="{'complete': progressBar(carbo, totalFoods.total_carbo) == 1}"
          style="width: 90%;margin: 0 auto;"></ion-progress-bar>
        <ng-container>
          <!-- *ngIf=" carbo <= totalFoods.total_carbo " -->
          <p style="color: white;">{{carbo?.toFixed()}}/{{totalFoods.total_carbo?.toFixed()}}gr</p>
        </ng-container>
        <!--        <ng-container *ngIf="carbo > totalFoods.total_carbo ">
            <p style="color: white;"> {{totalFoods.total_carbo.toFixed()}}/{{totalFoods.total_carbo.toFixed()}}  gr</p>
          </ng-container> -->
      </div>
      <div class="contenedorMenuItem" style="  background: #EF4044;">
        <p style="color: white;">Proteína</p>
        <ion-progress-bar style="width: 90%;margin: 0 auto;" [value]="progressBar(protein, totalFoods.total_protein)"
          [ngClass]="{'complete': progressBar(protein, totalFoods.total_protein) == 1}" class="proteP">
        </ion-progress-bar>
        <ng-container>
          <!-- *ngIf=" protein <= totalFoods.total_protein " -->
          <p style="color: white;">{{protein?.toFixed()}}/{{totalFoods.total_protein?.toFixed()}}gr</p>
        </ng-container>
        <!-- <ng-container *ngIf=" protein > totalFoods.total_protein ">
            <p style="color: white;">{{totalFoods.total_protein.toFixed()}}/{{totalFoods.total_protein.toFixed()}}gr</p>
          </ng-container> -->
      </div>
      <div class="contenedorMenuItem"
        style="border-bottom-right-radius: 12px;border-top-right-radius: 12px;background: grey;">
        <p style="color: white;">Grasa</p>
        <ion-progress-bar style="width: 90%;margin: 0 auto;" [value]="progressBar(grasa, totalFoods.total_greases)"
          [ngClass]="{'complete': progressBar(grasa, totalFoods.total_greases) == 1}" class="grasaP">
        </ion-progress-bar>
        <ng-container>
          <!-- *ngIf=" grasa <= totalFoods.total_greases " -->
          <p style="color: white;">{{grasa?.toFixed()}}/{{totalFoods.total_greases?.toFixed()}}gr</p>
        </ng-container>
        <!--  <ng-container *ngIf=" grasa > totalFoods.total_greases ">
              <p style="color: white;">{{totalFoods.total_greases}}/{{totalFoods.total_greases}}gr</p>
            </ng-container> -->
      </div>
    </div>
  </div>




  <ion-grid style="padding-top: 1rem;">
    <ion-row>
      <ion-col size="6" *ngIf="validateFood(0)">
        <div *ngIf="validateFood(0)" (click)="listado('Desayuno')" class="ContenedorTarjeta"
          style="background-image: url(./assets/img/desayuno.jpeg);">
          <div class="ContenedorTarjetaTitulo">
            Desayuno
          </div>
          <div class="ContenedorTarjetaIcono" style="left: 80%;top: 80%;">
            <ion-icon name="create-sharp" style="font-size: 24px;
    background: white;
    margin-top: 22px;
    padding: 6px;
    border-radius: 50%;
    color: red !important;--ion-color-base: red !important;
    text-align: center;" color="dark"></ion-icon>

          </div>
        </div>
      </ion-col>
      <ion-col size="6" *ngIf="!validateFood(0)">
        <div *ngIf="!validateFood(0)" (click)="seleccion('Desayuno')" class="ContenedorTarjeta"
          style="background-image: url(./assets/img/desayuno.jpeg);">
          <div class="ContenedorTarjetaTitulo">
            Desayuno
          </div>
          <div class="ContenedorTarjetaIcono">
            <ion-icon name="add-circle-outline" style="font-size: 35px; margin-top: 22px;" color="dark"></ion-icon>
            <p style="margin: 0; ">Añadir</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" *ngIf="validateFood(2)">
        <div *ngIf="validateFood(2)" (click)="listado('Almuerzo')" class="ContenedorTarjeta"
          style="background-image: url(./assets/img/almuerzo.jpeg);">
          <div class="ContenedorTarjetaTitulo">
            Almuerzo
          </div>
          <div class="ContenedorTarjetaIcono" style="left: 80%;top: 80%;">
            <ion-icon name="create-sharp" style="font-size: 24px;
  background: white;
  margin-top: 22px;    padding:6px;
  border-radius: 50%;    color: red !important;--ion-color-base: red !important;
  text-align: center;" color="dark"></ion-icon>

          </div>
        </div>
      </ion-col>
      <ion-col size="6" *ngIf="!validateFood(2)">
        <div *ngIf="!validateFood(2)" (click)="seleccion('Almuerzo')" class="ContenedorTarjeta"
          style="background-image: url(./assets/img/almuerzo.jpeg);">
          <div class="ContenedorTarjetaTitulo">
            Almuerzo
          </div>
          <div class="ContenedorTarjetaIcono">
            <ion-icon name="add-circle-outline" style="font-size: 35px; margin-top: 22px;" color="dark"></ion-icon>
            <p style="margin: 0;">Añadir</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" *ngIf="validateFood(1)">
        <div *ngIf="validateFood(1)" (click)="listado('Snack')" class="ContenedorTarjeta"
          style="background-image: url(./assets/img/snack.jpeg);">
          <div class="ContenedorTarjetaTitulo">
            Snack
          </div>
          <div class="ContenedorTarjetaIcono" style="left: 80%;top: 80%;">
            <ion-icon name="create-sharp" style="font-size: 24px;
    background: white;
    margin-top: 22px;    padding:6px;
    border-radius: 50%;    color: red !important;--ion-color-base: red !important;
    text-align: center;" color="dark"></ion-icon>

          </div>
        </div>
      </ion-col>
      <ion-col size="6" *ngIf="!validateFood(1)">
        <div (click)="seleccion('Snack')" class="ContenedorTarjeta"
          style="background-image: url(./assets/img/snack.jpeg);">
          <div class="ContenedorTarjetaTitulo">
            Snack
          </div>
          <div class="ContenedorTarjetaIcono" *ngIf="!validateFood(1)">
            <ion-icon name="add-circle-outline" style="font-size: 35px; margin-top: 22px;" color="dark"></ion-icon>
            <p style="margin: 0;">Añadir</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" *ngIf="validateFood(3)">
        <div *ngIf="validateFood(3)" (click)="listado('Cena')" class="ContenedorTarjeta"
          style="background-image: url(./assets/img/cena.jpeg);">
          <div class="ContenedorTarjetaTitulo">
            Cena
          </div>
          <div class="ContenedorTarjetaIcono" style="left: 80%;top: 80%;">
            <ion-icon name="create-sharp" style="font-size: 24px;
    background: white;
    margin-top: 22px;    padding:6px;
    border-radius: 50%;    color: red !important;--ion-color-base: red !important;
    text-align: center;" color="dark"></ion-icon>

          </div>
        </div>
      </ion-col>
      <ion-col size="6" *ngIf="!validateFood(3)">
        <div *ngIf="!validateFood(3)" (click)="seleccion('Cena')" class="ContenedorTarjeta"
          style="background-image: url(./assets/img/cena.jpeg);">
          <div class="ContenedorTarjetaTitulo">
            Cena
          </div>
          <div class="ContenedorTarjetaIcono">
            <ion-icon name="add-circle-outline" style="font-size: 35px; margin-top: 22px;" color="dark"></ion-icon>
            <p style="margin: 0;">Añadir</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>