ion-input {
  border: solid 1px grey;
  border-radius: 8px;
  width: 80%;
  margin: 0 auto;
}

.centered2 {
  opacity: 0.7;
  text-align: center;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-segment-button {
  border-radius: 12px;
}
