<ion-content>


  <ion-slides pager="true"   #slide [options]="slideOpts">

    <ion-slide>
      <div style='height: 100vh; width: 100%;' > 
        <app-tutorial-alimento-paso1></app-tutorial-alimento-paso1>
      </div>
    </ion-slide>

    <ion-slide>
      <div  style='height: 100vh; width: 100%;'> 
        <app-tutorial-alimento-paso2></app-tutorial-alimento-paso2>
      </div>
   </ion-slide>
<!-- 
    <ion-slide>
      <div  style='height: 100vh; width: 100%;'> 
        <app-tutorial-alimento-paso3></app-tutorial-alimento-paso3>
      </div>
    </ion-slide>

    <ion-slide>
      <div  style='height: 100vh; width: 100%;'> 
        <app-tutorial-alimento-paso4></app-tutorial-alimento-paso4>
      </div>
    </ion-slide> -->


  </ion-slides>
 
</ion-content>

<!-- omitir -->


<!-- <ion-slides pager="true" [options]="slideOpts">

  <ion-slide>
   <app-tutorial-alimento-paso1></app-tutorial-alimento-paso1>
  </ion-slide>

    <ion-slide>
      <app-tutorial-alimento-paso2></app-tutorial-alimento-paso2>
   </ion-slide>

   <ion-slide>
    <app-tutorial-alimento-paso3></app-tutorial-alimento-paso3>
   </ion-slide>

   <ion-slide>
    <app-tutorial-alimento-paso4></app-tutorial-alimento-paso4>
   </ion-slide>

</ion-slides> -->