<ion-content fullscreen>
  
  <p class="omitir" (click)="omitir()">
    Omitir
  </p>
  
  <div class="imagen" >
    <img src="assets/img/entrenamiento-sin-limites.jpg" style="width: 100%;">
  </div>

  <div style="position: absolute; bottom: 6%;">
    <div class="titulo">
      <h2>Entrenamiento<br>  sin limites</h2>
    </div>
    
    <ion-row>
      <ion-col size="12">
        <div class="box">
          <p style="margin-top: 0;">Fittech cuenta con aproximadamente 400 ejercicios diferentes estructurados a través de planes de entrenamiento que varían diariamente de acuerdo al objetivo y posibilidades del usuario.</p>
        </div>
        <div>
          <ion-card  style="
          width: 88%; 
          height: 40px;
          border-radius: 10px;
          text-transform: uppercase;
          font-family: 'Open Sans';
          --background:#EF4044;
          color:white;
          margin: 0 auto;
          "
        (click)="omitir()">
        <h4 style="margin: 7px; text-align: center;"> 
          EMPEZAR YA
        </h4> 
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </div>

 
  


</ion-content>



