<ion-card *ngFor="let item of dato">
  <ion-card-content class="tarjeta">
    <ion-button class="btn-izquierda"color="danger" fill="outline" slot="end">{{item.price}}$</ion-button>
    <p>{{item.name}}</p>
    <p>{{item.description}}</p>
  </ion-card-content>
</ion-card>



<ion-card  style="
width: 254px; 
border-radius: 10px;
text-transform: uppercase;
font-family: 'Open Sans';
--background:#EF4044;
color:white;
margin: 0 auto;
margin-bottom: 5px;
">
<h4   style="margin: 10px; text-align: center;"> 
<b>Continuar</b>
</h4> 
</ion-card>

