.grid1 {
  background-color: #F4F3F1;
  padding: 0px;
}

.grid2 {
  padding: 0px;
}

.logo {
  margin: 0 auto;
  max-height: 150px;
}

.cabezera {
  max-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  width: 100%;
  overflow: hidden;
}

ion-content {
  --background: #cb3234;
}

.titulodescanso {
  color: #959595;
  text-align: center;
  font-size: 50px;
}

.ion-text-center.titulo {
  font-weight: 800;
}

.center {
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  padding-top: 0px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
}

.ion-text-center.titulo2 {
  width: 100%;
  font-size: 22px;
  padding-top: 28px;
}

.center.do {
  margin-top: 0px;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 15px;
}

.centerdo {
  text-align: center;
  margin: 0 auto;
}

img {
  height: auto;
  width: auto;
}
